@import "tailwindcss";
@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-slider {
  animation: logo-scroll 25s linear infinite;
}
@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Desktop / default */
.animate-logo-scroll {
  animation: logo-scroll 25s linear infinite;
}

/* Mobile */
@media (max-width: 640px) {
  .animate-logo-scroll {
    animation-duration: 10s;
  }
}

html {
  scroll-behavior: smooth;
  background-color: white;
}
